<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitFromHeart.com</title>
    style 
        include ../static/style.css
</head>
<link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
<body>
    <header class="header">
        <div class="left">
            <img src="../static/logo.png" alt="">
            <div>FitFromHeart</div>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Fitness Calculator</a></li>
                <li><a href="#">contact Us</a></li>
            </ul>  
        </div>
        <div class="right">
            <button class="btn">Call Us Now</button>
            <button class="btn">Email Us</button>
        </div>
    </header>
    <div class="container">
        <h1>Join the Best GYM of Pune</h1>
        <form action="/" method = "post">
            <div class="form-group">
                <input type="text" name="name" placeholder="Enter your Name">
            </div>
            <div class="form-group">
                <input type="text" name="age" placeholder="Enter your Age">
            </div>
            <div class="form-group">
                <input type="text" name="gender" placeholder="Enter your Gender">
            </div>
            <div class="form-group">
                <input type="text" name="phone" placeholder="Enter your Phone No.">
            </div>
            <button class="btn">Submit</button>
        </form>
    </div>
    
    <p class="line">**Safely put all the details and we will call you to know more about you</p>
    <footer> Copyright &copy; www.fitfromheart.com | Ankit Pandey, AIT Pune-21135 </footer>
    
</body>
</html>