html{
    height: 100%;
}
body{
    position: relative;
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px;
    padding: 0px;
    background: url('../static/bgm.png');
    background-size: cover;  
    color: white;
    min-height: 100%;
    padding-bottom: 6.75rem;
}
.left{
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
}
.left img{
    width: 100px;
    filter: invert(10%);
    border-radius: 75px;
    padding-left: 25px;
}
.left div{
    text-align: center;
    color: rgb(222, 22, 112);
    font-weight: bold;
    font-size: 25px;
}
.mid{
    /* border: 2px solid green;  */
    display: block;
    margin: 10px auto;
    width: 50vw;
}
.right{
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 25px;
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-weight: bolder;
}
.navbar li a:hover{
    text-decoration: underline;
    color: gray;
}
.btn{
    font-family: 'Baloo Bhai 2', cursive;
    margin: 0px 10px;
    background-color: black;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: gray;
}
.container{
    border: 2px solid white;
    margin: 100px 80px 10px 80px;
    padding: 20px 30px;
    width: 500px;
    border-radius: 30px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 500px;
    margin: 20px auto;
}
.form-group input{
    font-family: 'Baloo Bhai 2', cursive;
    text-align: center;
    display: block;
    width: 500px;
    padding: 1px;
    border: 2px solid black;
    margin:10px auto;
    font-size: 25px;
    border-radius: 10px;
}
.line{
    margin: 0px 120px;
}
footer {
    text-align: center;
    position: absolute;
    background-color: black;
    color: white;
    padding: 3px 10px 5px 0px;
    right: 0;
    left: 0;
    bottom: 0;
}